.WN{
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    background-color:rgb(222,234,238);
    color:black;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 30px;
    min-width: 600px;
    display:flex;
    flex-direction: column;

}
.temperature{
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    
}
.location{
    font-size: 60px;
    font-weight: 900;

}
.pressure{
    padding-bottom: 20px;
}
.number{
    padding-top: 25px;
    padding-left: 5px;
    
}
.border{
    border-color: lightgray;
    border-style: solid;
    border-radius: 10px;
    background-color: black;
}
button{
    width: 120px;
    height: 75px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;;
    color:
}
